.main-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #903749;
  transition: all 1s ease-in-out;
}
.a {
  background-color: #e84545;
  transition: all 1s ease-in-out;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}

.b {
  background-color: #e84545;
  transition: all 1s ease-in-out;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.middle-line {
  height: 30vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
