.control-main {
  width: 100vh;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.hold-btn-container {
  z-index: 1;
}
.roll-btn-container {
  z-index: 1;
}

.hold-btn {
  border: 1px solid #fff999;
  background-color: #53354a;
  height: 50px;
  width: 100px;
  border-radius: 7px;
  margin-right: 2px;
  color: white;
  font-size: 18px;
}
.roll-btn {
  border: 1px solid #fff999;
  background-color: #53354a;
  height: 50px;
  width: 100px;
  border-radius: 7px;
  margin-left: 2px;
  color: white;
  font-size: 18px;
}
