.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-dice {
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.dice-img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}
