.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-dice {
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.dice-img {
  z-index: 1;
  min-width: 8vw;
  height: 14vh;
  margin-bottom: 10px;
  border-radius: 10px;
}
